$body$

<hr/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var discus_title = '$title$';
    var disqus_shortname = 'andres-pq';
    var discus_identifier = '$url$';
    var disqus_url = 'http://p-q.github.com$url$';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript><p>The comments use <a href="http://disqus.com/?ref_noscript">Disqus</a>,
which requires Javascript.  I use the Firefox Noscript extension too: you will
need to enable wuzzeb.org and discus.com</p></noscript>
